.body{
    background-color: aliceblue;
}

.container{
    display: grid;
    justify-content: center;
    background-color: rgb(225, 255, 255);
}

.titu{
    text-align: center;
    color: darkred;
}
.conte{
    margin-left: 45%;
 text-align: center;
 box-shadow: 0px 0px 5px 5px;
 width: 200px;
 height: 200px;
border-radius: 4%;
background-color: rgb(218, 253, 221);

}

@media screen and (max-width: 580px){
  .containerP{   
    width: 100%;
    height: auto;
  }

}
 

